<h1>Recipes</h1>

<p>Here is a list of recipes for a given user</p>

<%= button_to "New Recipe", new_user_recipe_path(@user.id) %>

<div>
<% @recipes.each do |recipe| %>
<div class="recipe">
<div>
<p><a href="/recipes/<%= recipe.id %>/"> <%= recipe.name %> </a></p>
<%= button_to "REMOVE", recipe_path(recipe.id), method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"} %>
</div>
<p><a href="/recipes/<%= recipe.id %>/"> <%= recipe.description %> </a></p>


</div>
<% end %>
</div>
