<%= form_with(model: food, url: user_foods_path, local: true) do |f| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
    <br/>

    <div class="form-group">
        <%= f.label :measurement_unit %>
        <%= f.text_field :measurement_unit, class: "form-control", placeholder: "Measurement Unit"  %>
    </div>
    <br/>

    <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price,  class: "form-control", placeholder: "Price"  %>
    </div>
    <br/>

    <div class="form-group">
        <%= f.label :quantity %>
        <%= f.text_field :quantity,  class: "form-control", placeholder: "Quantity"  %>
    </div>
    <br/>
     <%= f.submit "Add Food", class: "btn btn-secondary" %>
<% end %>
