<% if @foods.empty? %>
  <p class="text-primary">No foods added yet!</p>

<% else %>
  <div class="d-flex justify-content-end"> 
  <%= button_to "Add Food", new_user_food_path(@user.id), method: :get, class: "btn btn-dark" %>
  </div>
  <br/>

  <table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Available Units</th>
        <th scope="col">Measurement Unit</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |item| %>
        <tr>
          <td><%= item.name%></td>
          <td><%= item.quantity%></td>
          <td><%= item.measurement_unit%></td>
          <td>$<%= item.price%></td>
          <th scope="row">
          <%= link_to "Delete", food_path(item), method: :delete,  data: {turbo_method: :delete} %>
          </th>
        </tr>
      <%end%>
    </tbody>
  </table>
<% end %>
